layout {
    tab name="nvim" focus=true {
        pane name="nvim"
    }

    tab name="shell" {
        pane name="shell"
    }

    default_tab_template {
        children
        pane size=2 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
              format_left   "{mode}#[bg=238,fg=blue,bold]{session}#[bg=232,fg=238]{tabs}#[fg=232]"
              format_right  "{command_git} {datetime}"
              format_space  "{char}"

              border_enabled  "true"
              border_char     "."
              border_format   "#[fg=blue]{char}"
              border_position "top"

              hide_frame_for_single_pane "true"

              mode_normal  "#[fg=blue]#[bg=blue,fg=232,bold] {name} #[fg=blue,bg=238] "

              tab_normal   "#[bg=232,fg=238] {name}#[fg=242,bg=232] "
              tab_active   "#[bg=232,fg=green,bold,italic] {name}#[fg=242,bg=232] "

              command_git_command     "zsh git rev-parse --abbrev-ref HEAD"
              command_git_format      "#[fg=blue] {stdout}"
              command_git_interval    "10"
              command_git_rendermode  "static"

              datetime        "#[fg=yellow,bold] {format} "
              datetime_format "󰃭 %A,%d.%b.%Y  %l:%M%p"
              datetime_timezone "America/Bogota"
            }
        }
    }
}
